@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.font-raleway {
    font-family: "Raleway", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.textGreen {
    color: #1DD100 !important;
}


.coach-info-container {
    background-image: url('../images/info-devider.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    /* right: -30px; */
    /* background-position: -20px; */
}


/* * Small Screen */
@media only screen and (min-width: 300px) and (max-width: 500px) {
    .coach-info-container {
        background-image: none;
    }
}


/* 
<div class="overflow-x-auto"><table class="table">< !-- head --><tbody>< !-- row 1 --><tr><td>A</td><td>A1</td><td>A2</td><td>A3</td><td>A4</td></tr>< !-- row 2 --><tr><th>B</th><td>B1</td><td>B2</td><td>B3</td><td>B4</td></tr>< !-- row 3 --><tr><th>C</th><td>C1</td><td>C2</td><td>C3</td><td>C4</td></tr></tbody></table></div> */